############################################ Stages ##############################################
stages:
  - authenticate
  - validate
  - plan
  - apply
  - scripts

############################################ Common ############################################
.terraform-common:
  image: 
    name: hashicorp/terraform:light
    entrypoint: [""]
  before_script:
    - apk add --no-cache aws-cli
    - cd $TF_DIR                     # Application bundle name is same as repository name
    - terraform init -backend-config=vars/backend.hcl -upgrade
  #  - terraform force-unlock -force e8d908a6-43a5-fa56-9eb8-f1addec649f5

############################################ Environments ############################################
.sandbox:
 variables:
   TF_DIR: environments/sandbox
   AWS_ROLE_ARN: $AWS_ROLE_ARN_SANDBOX

.dev:
  variables:
    TF_DIR: environments/dev
    AWS_ROLE_ARN: $AWS_ROLE_ARN_DEV

.prod:
  variables:
    TF_DIR: environments/prod
    AWS_ROLE_ARN: $AWS_ROLE_ARN_PROD

############################################## Authenticate #############################################
.authenticate:
  stage: authenticate
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  id_tokens:
    GITLAB_OIDC_TOKEN:
      aud: https://gitlab.scania.com
  script:
    - >
      STS=($(aws sts assume-role-with-web-identity
      --role-arn ${AWS_ROLE_ARN}
      --role-session-name "GitLabRunner-${CI_PROJECT_ID}-${CI_PIPELINE_ID}"
      --web-identity-token ${GITLAB_OIDC_TOKEN}
      --duration-seconds 3600
      --query 'Credentials.[AccessKeyId,SecretAccessKey,SessionToken]'
      --output text))
    - echo "AWS_ACCESS_KEY_ID="${STS[0]}"" >> credentials.env
    - echo "AWS_SECRET_ACCESS_KEY="${STS[1]}"" >> credentials.env
    - echo "AWS_SESSION_TOKEN="${STS[2]}"" >> credentials.env
  artifacts:
    reports: 
      dotenv: credentials.env

authenticate-sandbox:
  extends:
  - .authenticate
  - .sandbox

authenticate-dev:
  extends:
  - .authenticate
  - .dev

authenticate-prod:
  extends:
  - .authenticate
  - .prod

############################################# Validate ###############################################
.validate:
  extends:
    - .terraform-common
  stage: validate
  script:
    - terraform validate    

# Sandbox environment
validate-sandbox:
  extends:
    - .validate
    - .sandbox
  dependencies:
    - authenticate-sandbox

validate-dev:
  extends:
    - .validate
    - .dev
  dependencies:
    - authenticate-dev

validate-prod:
  extends:
    - .validate
    - .prod
  dependencies:
    - authenticate-prod

############################################# Plan ###############################################
.plan:
  extends:
    - .terraform-common
  stage: plan
  script:
    - terraform plan -out "planfile.tf"  


plan-sandbox:
  extends:
    - .plan
    - .sandbox
  dependencies:
    - authenticate-sandbox
    - validate-sandbox

plan-dev:
  extends:
    - .plan
    - .dev
  dependencies:
    - authenticate-dev
    - validate-dev

plan-prod:
  extends:
    - .plan
    - .prod
  dependencies:
    - authenticate-prod
    - validate-prod

############################################# Apply ###############################################
.apply:
  extends:
    - .terraform-common
  stage: apply
  script:
    - terraform apply -auto-approve
#  rules:
#    - if: $CI_COMMIT_BRANCH == "master"

apply-sandbox:
  extends:
   - .apply
   - .sandbox
  dependencies:
    - authenticate-sandbox
  when: manual

apply-dev:
  extends:
   - .apply
   - .dev
  dependencies:
    - authenticate-dev
  when: manual

apply-prod:
  extends:
   - .apply
   - .prod
  dependencies:
    - authenticate-prod
  when: manual
############################################# Scripts ###############################################
.scripts:
  stage: scripts